@model IEnumerable<OrderDynamics.Stores.Web.Models.ShipmentModel>

<H2>Shipments</H2>

<table>
    @foreach (var shipment in Model) {
        <tr>
            <td>
                @shipment.Id
            </td>
            <td>
                @shipment.Name
            </td>
        </tr>
    }
</table>