@model IEnumerable<OrderDynamics.Stores.Web.Models.ShipmentModel>

<h3>Shipments</h3>

<table class="table table-bordered table-striped">
    @foreach (var shipment in Model) {
        <tr>
            <td>
                @shipment.Id
            </td>
            <td>
                @shipment.Name
            </td>
        </tr>
    }
</table>